<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <img class="userPic" src="/images/profile-pic.jpg" alt="profile picture">
        

            <div class="userDetails">
                <h1>Min</h1>
                <h1>Oo</h1>
                <span>Software Engineer</span>
            </div>

            <div class="home">
                <ion-icon name="school-outline"></ion-icon>
            </div>
            <div class="projects">
                <ion-icon name="briefcase-outline"></ion-icon>
            </div>
            <div class="contact">
                <ion-icon name="mail-outline"></ion-icon>
            </div>

        </nav>
    </div>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>